<section class="about">
  <div class="container hero-header">
    <div class="row d-flex align-items-center text-center pt-5">
      <h2 class="text-center about-me">ABOUT ME</h2>
    </div>
    <div class="row p-5 align-items-center">
      <div class="col-md-6 text-center px-5" >
        <img src="/assets/Me-formal.jpg" class="img-fluid" style="width: 500px;" alt="Jed Bartolome">
      </div>
      <div class="col-md-6 px-5 mx-md-auto">
          <h2 class="about-subtitle custom-about mt-5 mt-md-0">Hello I am Jed</h2>
          <p class="about-me "> A Graduate of Bachelor of Science in Information Technology with area of Specialization in Web Development.
            Graduated Summa Cum Laude, Most Outstanding Student for Graduating Web Development, awareded in Leadership Excellence and also Best in Capstone. I do Love
            creating and designing Websites and when I have a spare time, I love watching Youtube videos, or design a Website using Figma. I want to collaborate with you soon
            and don't hesitate to contact me.
          </p>
      </div>
    </div> 
  </div>

</section>