<section class="contacts">
    <div class="container skills" id="contact">
        <div class="row d-flex align-items-center text-center pt-5">
          <h2 class="skills-word text-center" >CONTACT ME</h2>
        </div>
        <div class="row p-5 align-items-center justify-content-evenly">
          <div class="col-md-3 d-flex justify-content-center">
            <div class="card align-items-center text-center p-5 skills-card">
              <img class="card-img-top skills-svg" src="/assets/phone.svg" alt="Card image cap">
              <div class="card-body d-flex justify-content-center align-items-center">
                <p class="card-text skills-text">+63 917-3822-990 </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center">
            <div class="card align-items-center text-center p-5 skills-card">
              <img class="card-img-top skills-svg" src="/assets/linkedin.svg" alt="Card image cap">
              <div class="card-body d-flex justify-content-center align-items-center">
                <p class="card-text skills-text">Jed Miguel <br> Bartolome</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center">
            <div class="card align-items-center text-center p-5 skills-card">
              <img class="card-img-top skills-svg" src="/assets/mail.svg" alt="Card image cap">
              <div class="card-body d-flex justify-content-center align-items-center">
                <p class="card-text skills-text"> {{'jed.bartolome17'}} <br> {{'@gmail.com'}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>