.portfolios{
    background-image: url("/assets/background3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h2.works{
    color: #ffff;
    font-family: "Roboto Mono";
    font-weight: 400;
    font-size: 28px;
}
h2.works-title {
    font-family: "Roboto Mono";
    color: white;
    font-size: 46px;
    font-weight: bold;
}

.img-portfolio{
    height: 250px;
}

.card-portfolio{
    background-color: #030923;
}

h5.portfolio-title{
    font-family: "Roboto Mono";
    color: #ffff;
    font-size: 18px;
}
p.portfolio-subtitle{
    font-family: "Roboto Mono";
    color: #A7A7A7;
    font-size: 14px;
}

.custom-btn {
    margin-top: 20px;
    background-color: transparent; /* Transparent background */
    color: #fff; /* Text color */
    border: solid 3px #00ADFF; /* Solid border with color */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make it inline-block for padding to apply */
    position: relative; /* Position relative for gradient effect */
    z-index: 1; /* Ensure button content is above gradient */
    overflow: hidden; /* Hide overflow to prevent gradient spill */
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease; /* Smooth transition */
  }

  .custom-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(172,117,255,1) 0%, rgba(9,172,190,1) 35%, rgba(48,76,157,1) 100%);
    z-index: -1;
    transition: opacity 0.5s ease;
    opacity: 0;
    border-radius: 5px;
  }

  .custom-btn:hover::before {
    opacity: 1;
  }

  .custom-btn:hover {
    color: #ffff; /* Keep text color white */
    text-decoration: none; /* Remove underline on hover */
    border-color: transparent; /* Hide solid border on hover */
  }